<footer>
  <div class="footer-container">
    <div class="footer-column">
      <h3>GitHub</h3>
      <a href="https://github.com/thi08" target="_blank">https://github.com/thi08</a>
      <a href="https://github.com/WesleyRSC" target="_blank">WesleyRSC</a>
      <a href="https://github.com/matheuslpiresm" target="_blank">Matheus Pires</a>
    </div>
    <div class="footer-column">
      <h3>LinkedIn</h3>
      <a href="https://www.linkedin.com/in/thi08" target="_blank">https://www.linkedin.com/in/thi08</a>
      <a href="https://www.linkedin.com/in/wesley-rogerio-de-souza-campos/" target="_blank">Wesley Campos</a>
      <a href="https://www.linkedin.com/in/matheuslpires/" target="_blank">Matheus Pires</a>
    </div>
  </div>
</footer>