$blue: #1d9add;
$darkblue: #00008b;

:root {
  --primary-color: #{$blue};
  --secondary-color: #{$darkblue};
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
